# PYTHON DATA TYPES:

In [2]:
# Numeric data types (int, float, complex):

age = 25
salary = 100000.50
power = 3 + 5j

print(type(age))
print(type(salary))
print(type(power))

<class 'int'>
<class 'float'>
<class 'complex'>

In [3]:
# String data type:
name = "Giri"
city = "Bangalore"

print(type(name))
print(type(city))

<class 'str'>
<class 'str'>

In [6]:
# List data type:
# Ex - 1
bikes = ["jawa", "royal enfield", "hero", "honda"]
print(type(bikes))

# Ex - 2
numbers = [10, 20, 30, 40]

numbers.append(50)
print(numbers)
print(type(numbers))

<class 'list'>
[10, 20, 30, 40, 50]
<class 'list'>

In [7]:
# Tuple data type:
#Ex - 1
colors = ("red", "green", "blue")
print(type(colors))

#Ex - 2

single = (10,)
print(type(single))

<class 'tuple'>
<class 'tuple'>

In [8]:
# Set data type:
#Ex - 1

numbers = {10, 20, 30, 30, 40}
print(type(numbers))

#Ex - 2

fruits = {"apple", "banana", "mango"}
fruits.add("orange")
print(fruits)
print(type(fruits))

<class 'set'>
{'banana', 'apple', 'mango', 'orange'}
<class 'set'>

In [9]:
#Dictionary data type:
student = {
    "name": "Giri",
    "age": 25,
    "course": "Python"
}

print(student)
print(type(student))

{'name': 'Giri', 'age': 25, 'course': 'Python'}
<class 'dict'>

In [11]:
#Boolean data types:
#Ex - 1
is_on = True
is_off = False

print(type(is_on))
print(type(is_off))

#Ex - 2
x = 10
y = 20

print(x > y)
print(x == y)

<class 'bool'>
<class 'bool'>
False
False

In [13]:
#None data type:
g = None
print(g)
print(type(g))

None
<class 'NoneType'>