# PYTHON STRINGS:

In [1]:
# Strings basics:
name = "Giri"
print(name)

message = "Hii Python"
print(message)

sentence = "Python is easy to learn"
print(sentence)

Giri
Hii Python
Python is easy to learn

In [3]:
a = "I am a developer"
print(a[0:4])

I am

In [5]:
for b in "Gireesh":
    print(b)

G
i
r
e
e
s
h

In [6]:
c = "ML Engineer"
print(len(c))

11

In [7]:
# Multiline strings:
text = """Python is easy
Python is powerful
Python is popular"""
print(text)

Python is easy
Python is powerful
Python is popular

In [8]:
# triple single quotes:
message = '''Hello Giri,
Welcome to Python learning.
Practice daily.'''
print(message)

Hello Giri,
Welcome to Python learning.
Practice daily.

In [10]:
# Multiline string with formatting:
name = "Giri"

info = f"""
Name   : {name}
Course : Python
Level  : Beginner
"""
print(info)

Name   : Giri
Course : Python
Level  : Beginner

In [11]:
# Check strings:
#using in
text = "Python developer"

print("Python" in text)     # True
print("Java" in text)       # False

True
False

In [13]:
# Using not in:
t1 = "Java developer"
print("Java" not in t1)  
print("Python" not in t1)

False
True

In [17]:
t2 = "Python developer"

print("python" in t2)     # False
print("Python" in t2)    # True

False
True

In [18]:
# String slicing:
g ="Python Programming"

print(g[0])        # First character
print(g[0:6])      # Python
print(g[7:18])     # Programming
print(g[:6])       # Python
print(g[7:])       # Programming
print(g[-11:])     # Programming
print(g[::-1])     # Reverse string

P
Python
Programming
Python
Programming
Programming
gnimmargorP nohtyP

In [19]:
# Modify strings:
f = " Giri, The ML Engineer "

print(f.upper())
print(f.lower())
print(f.strip())
print(f.replace("Giri", "Gireesh"))
print(f.split())

 GIRI, THE ML ENGINEER
 giri, the ml engineer
Giri, The ML Engineer
 Gireesh, The ML Engineer
['Giri,', 'The', 'ML', 'Engineer']

In [20]:
# String concatenation:
first = "Python"
second = "Developer"

result = first + " " + second
print(result)

Python Developer

In [23]:
# Wrong:
# age = 25
# print("Age is " + age)  ‚ùå

# Correct:
age = 25
print("Age is", age)

Age is 25

In [25]:
# Format strings:
#using f strings:
name = "Giri"
age = 25

print(f"My name is {name} and my age is {age}")

My name is Giri and my age is 25

In [26]:
# Using format():
name = "Gireesh"
age = 27

print("My name is {} and my age is {}".format(name, age))

My name is Gireesh and my age is 27

In [27]:
# Using % operator:

name = "Giri B"
age = 26

print("My name is %s and my age is %d" % (name, age))

My name is Giri B and my age is 26

In [28]:
# Escape characters:

print("Hello\nPython")      # New line
print("Hello\tPython")      # Tab space
print("I\'m learning Python")
print("He said \"Python is easy\"")
print("C:\\Users\\Giri")

Hello
Python
Hello	Python
I'm learning Python
He said "Python is easy"
C:\Users\Giri