# PYTHON SETS:

`Access` → loop / in

`Add` → add, update

`Remove` → remove, discard, pop

`Delete` set → del

`Join` → union

`Common` → intersection

`Difference` → difference

`Different only` → symmetric_difference

`Locked` → frozenset

In [62]:
the_set = {"giri", "java", "royal"}
print(the_set)

{'giri', 'java', 'royal'}

In [63]:
# duplicates not allowed:
set1 = {"giri", "java", "royal", "giri"}
print(set1)

{'giri', 'java', 'royal'}

In [64]:
#True and 1 considered as same value:
set2 = {"giri", "java", "royal", True, 1, 2}
print(set2)

{'java', 2, True, 'giri', 'royal'}

In [65]:
# False and 0 is considered as same values:
set3 = {"giri", "java", "royal", False, True, 0}
print(set3)

{False, 'java', True, 'giri', 'royal'}

In [66]:
# Length of a set:

set4 = {"giri", "java", "royal", False, True, 0}
print(len(set4))

5

In [67]:
# Set data types:any data types can be allowed

set5 = {"lion", "tiger", "cheetah"}
set6 = {1, 5, 7, 9, 3}
set7 = {True, False, False}

print(set5)
print(set6)
print(set7)

{'lion', 'cheetah', 'tiger'}
{1, 3, 5, 7, 9}
{False, True}

In [68]:
# Mixed datatypes:
set8 = {"Giri", 27, True, "Male", 42}
print(set8)
print(type(set8))

{True, 42, 27, 'Giri', 'Male'}
<class 'set'>

In [69]:
# Set constructor:

set9 = set(("Giri", 27, True, "Male", 42))
print(set9)

{True, 42, 'Giri', 27, 'Male'}

### ACCESS SET ITEMS:

In [70]:
# Using for loop:
set10 = {"giri", "java", "royal", True, 1, 2}

for x in set10:
    print(x)

java
2
True
giri
royal

In [71]:
#Check item exists or not:

print("jawa" in set10)
print("giri" in set10)

False
True

In [72]:
# Attendence check:
g = {"Ravi", "Radha", "Kiran"}
print("Ravi" in g)

True

In [73]:
# Available colors:
colors = {"red", "blue", "green"}

for c in colors:
    print(c)

red
green
blue

### ADD SET ITEMS:

In [74]:
# Add new city:

cities = {"Bangalore", "Mysore"}
cities.add("Haveri")
print(cities)

{'Bangalore', 'Mysore', 'Haveri'}

In [75]:
# Add new subjects:

subjects = {"Maths", "Science", "English"}
subjects.update({"English", "Computer"})
print(subjects)

{'English', 'Science', 'Maths', 'Computer'}

In [76]:
# Add product categories:
categories = {"Mobile", "Laptop"}
categories.add("Tablet")
categories.add("Earbuds")
print(categories)

{'Mobile', 'Earbuds', 'Tablet', 'Laptop'}

### REMOVE SET ITEMS:

In [77]:
# Remove absent student:
students = {"Ravi", "Anu", "Kiran"}
students.remove("Anu")
print(students)

{'Ravi', 'Kiran'}

In [78]:
# Safe removal:
items = {"pen", "pencil"}
items.discard("eraser")
print(items)

{'pencil', 'pen'}

In [79]:
# Random removal:
numbers = {1, 2, 3}
numbers.pop()
print(numbers)

{2, 3}

In [80]:
# del keyword:
# delete temporary data:
temp_data = {101, 102}
del temp_data

In [81]:
# Delete cancelled order:
order_items = {"shirt", "jeans"}
del order_items

In [82]:
#Delete unused variable:
cache = {"a", "b"}
del cache

### LOOP SETS:

In [83]:
# Loop numbers:

n = {1,12,3,14,5,16,7,18,9}
for a in n:
    print(a)

1
3
5
7
9
12
14
16
18

In [84]:
# Loop employee IDs:

emp_ids = {101, 102, 103, 104, 105, 106, 107, 108, 109, 110}
for i in emp_ids:
    print(i)

101
102
103
104
105
106
107
108
109
110

In [85]:
# Loop permisiions:
permissions = {"read", "write"}
for p in permissions:
    print(p)

read
write

### JOIN SETS:

In [86]:
# Two class students:

class1 = {"A", "B"}
class2 = {"B", "C"}
print(class1.union(class2))

{'B', 'A', 'C'}

In [87]:
# Two branch products:

store1 = {"milk", "bread"}
store2 = {"bread", "butter"}
print(store1 | store2)

{'milk', 'butter', 'bread'}

In [88]:
# Skills set:
skills1 = {"Python", "SQL"}
skills2 = {"SQL", "PowerBI"}
print(skills1.union(skills2))

{'PowerBI', 'Python', 'SQL'}

In [89]:
# Intersection:
# Common students:

a = {"Ravi", "Anu"}
b = {"Anu", "Kiran"}
print(a.intersection(b))

{'Anu'}

In [90]:
# Common apps:
p1 = {"WhatsApp", "YouTube"}
p2 = {"YouTube", "Instagram"}
print(p1 & p2)

{'YouTube'}

In [91]:
# Common numbers:

n1 = {1,2,2,1,3}
n2 = {2,2,1,1,3,4,5}
print(n1.intersection(n2))

{1, 2, 3}

In [92]:
# Intersection_update:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [93]:
# difference():
# Extra students:
a = {"A", "B", "C"}
b = {"B"}
print(a.difference(b))

{'A', 'C'}

In [94]:
# Missing apps:
phone1 = {"WhatsApp", "YouTube"}
phone2 = {"WhatsApp"}
print(phone1 - phone2)

{'YouTube'}

In [95]:
# Skill gap:
required = {"Python", "SQL", "Excel"}
known = {"Python"}
print(required.difference(known))

{'Excel', 'SQL'}

In [96]:
# Difference_update:
# Students who passed vs failed
passed = {"Ravi", "Anu", "Kiran"}
failed = {"Anu"}

passed.difference_update(failed)
print(passed)
print(failed)

{'Ravi', 'Kiran'}
{'Anu'}

In [97]:
# Symmetric difference:
# Two classes:
a = {"A", "B", "C"}
b = {"C", "D"}
print(a.symmetric_difference(b))

{'D', 'A', 'B'}

In [98]:
# Two phone apps:

p1 = {"ChatGPT", "YouTube", "Github"}
p2 = {"YouTube", "Telegram", "Github"}
print(p1 ^ p2)

{'Telegram', 'ChatGPT'}

In [99]:
# Team players:

t1 = {"Rohit", "Virat"}
t2 = {"Virat", "Dhoni"}
print(t1.symmetric_difference(t2))

{'Dhoni', 'Rohit'}

### FROZENSET:

In [100]:
# Fixed rules:

rules = frozenset(["age", "id"])
print("age" in rules)

True

In [101]:
# Account types:

types = frozenset(["savings", "current"])
for t in types:
    print(t)

current
savings

In [102]:
# Dictionary key usage:
key = frozenset([1, 2])
data = {key: "value"}
print(data)

{frozenset({1, 2}): 'value'}