# PYTHON LISTS:

In [142]:
# Create a list:
a = ["hero", "jawa", "royal", "honda"]

print(a)

['hero', 'jawa', 'royal', 'honda']

In [143]:
b = ["hero", "jawa", "royal", "hero", "honda"]

print(b)

['hero', 'jawa', 'royal', 'hero', 'honda']

In [144]:
# Length:

c = [1,2,3,4,5,6,7,8,9]

print(len(c))

9

In [145]:
# Datatypes:

d = ["Jawa", 42, True, 4.2]

print(type(d))

<class 'list'>

In [146]:
# List constructor:
#Strings:
e = "Gireesh"

f = list(e)
print(f)

['G', 'i', 'r', 'e', 'e', 's', 'h']

In [147]:
#Tuple:
g = (1,2,3,4,5)

h = list(g)
print(h)

[1, 2, 3, 4, 5]

In [148]:
#Set:
i = {"hi", "giri", "b"}

j = list(i)
print(j)

['hi', 'b', 'giri']

In [149]:
#Range:
k = list(range(1,20))

print(k)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [150]:
#Empty list:
l = list()

print(l)

# ------

m = []

print(m)

[]
[]

In [151]:
n = []
n.append("ML Engineer")

print(n)

['ML Engineer']

## PYTHON ACCESS LIST ITEMS:

In [152]:
o = ["hero", "jawa", "royal", "hero", "honda"]

print(o[0])

hero

In [153]:
# Negative indexing:

p = ["hero", "jawa", "royal", "hero", "honda"]

print(p[-1])

honda

In [154]:
q = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

print(q[0:7])

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [155]:
#Start:
r = [12,23,34,45,56,67,78,89,90,19,98]

print(r[:4])

[12, 23, 34, 45]

In [156]:
#End:
s = [12,23,34,45,56,67,78,89,90,19,98]

print(s[4:])

[56, 67, 78, 89, 90, 19, 98]

In [157]:
t = ["hero", "jawa", "royal", "hero", "honda", 12,23,34,45,56]

print(t[-10:-1])

['hero', 'jawa', 'royal', 'hero', 'honda', 12, 23, 34, 45]

In [158]:
# If you want reverse order - step = -1 (special case):
u = ["hero", "jawa", "royal", "hero", "honda", 12,23,34,45,56]

print(u[-1:-10:-1])

[56, 45, 34, 23, 12, 'honda', 'hero', 'royal', 'jawa']

In [159]:
# Check if item exists:
t = ["hero", "jawa", "royal", "hero", "honda", 12,23,34,45,56]

if "jawa" in t:
    print("Yes, 'jawa' is present")

Yes, 'jawa' is present

## PYTHON CHANGE LIST ITEMS:

In [160]:
u = ["hero", "jawa", "royal", "hero", "honda"]
u[4] = "harley davidson"
print(u)

['hero', 'jawa', 'royal', 'hero', 'harley davidson']

In [161]:
v = ["hero", "jawa", "royal", "hero", "honda"]
v[1:3] = ["super bikes"]

print(v)

['hero', 'super bikes', 'hero', 'honda']

In [162]:
# insert():
w = ["bangalore", "mysore", "haveri"]

w.insert(3, "dharawad")
print(w)

['bangalore', 'mysore', 'haveri', 'dharawad']

## PYTHON ADD LIST ITEMS:

In [163]:
# Append():
x = ["bangalore", "mysore", "haveri"]

x.append("belagavi")
print(x)

['bangalore', 'mysore', 'haveri', 'belagavi']

In [164]:
# Extend():
y = [1,2,3,4,5]
z = [6,7,8,9,10]
y.extend(z)
print(y)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [165]:
# Add any iterable:
a1 = ["A", "B", "C", "D"]
b1 = ("E", "F", "G")

a1.extend(b1)
print(a1)

['A', 'B', 'C', 'D', 'E', 'F', 'G']

## PYTHON REMOVE LIST ITEMS:

In [166]:
# remove()
c1 = ["hero", "jawa", "royal", "hero", "honda"]

c1.remove("hero")
print(c1)
# Here 2  "hero" present, so first occurrence hero got removed.

['jawa', 'royal', 'hero', 'honda']

In [167]:
# pop() - to remove specified index:

d1 = ["hero", "jawa", "royal", "hero", "honda"]
d1.pop(2)

print(d1)

['hero', 'jawa', 'hero', 'honda']

In [168]:
e1 = ["hero", "jawa", "royal", "hero", "honda"]

e1.pop() #If we not specify the index, it will remove last item.

print(e1)

['hero', 'jawa', 'royal', 'hero']

In [169]:
# del():
f1 = [12,23,34,45,56,67,78,89,90,19,98]

del f1[1]

print(f1)

[12, 34, 45, 56, 67, 78, 89, 90, 19, 98]

In [170]:
#del also delete the list completely:
g1 = ["hero", "jawa", "royal", "hero", "honda"]

del g1

# if we print this we got error because the list already deleted.

In [171]:
# clear()
h1 = ["I", "AM", "DEVELOPER"]
h1.clear() # list remains but no content

print(h1)

[]

## PYTHON LOOP LISTS:

In [172]:
# for loop:
i1 =["a1", "b1", "c1", "d1"]

for a in i1:
    print(a)

a1
b1
c1
d1

In [173]:
# loop through index numbers:

j1 = ["Giri", "developer", "ML Engineer", 100000]

for i in range(len(j1)):
    print(j1[i])

Giri
developer
ML Engineer
100000

In [174]:
# while loop:
k1 = ["Giri", "developer", "ML Engineer", 100000]

i = 0
while i < len(k1):
    print(k1[i])
    i = i + 1

Giri
developer
ML Engineer
100000

In [175]:
# looping using list comprehension:
l1 = [2,4,6,8,10]

[print(a) for a in l1]

2
4
6
8
10

[None, None, None, None, None]

## PYTHON LIST COMPREHENSION:

In [176]:
seeds = ["chana", "moong", "horse gram", "green peas", "chia", "fenugreek"]

seeds1 = [x for x in seeds if "e" in x]

print(seeds1)

['horse gram', 'green peas', 'fenugreek']

In [177]:
seeds = ["chana", "moong", "horse gram", "green peas", "chia", "fenugreek"]

seeds1 = [x for x in seeds if x != "moong"]

print(seeds1)

['chana', 'horse gram', 'green peas', 'chia', 'fenugreek']

In [178]:
# Wit no if statement:
seeds = ["chana", "moong", "horse gram", "green peas", "chia", "fenugreek"]

seeds1 = [x for x in seeds]

print(seeds1)

['chana', 'moong', 'horse gram', 'green peas', 'chia', 'fenugreek']

In [179]:
list1 = [x for x in range(12)]
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [180]:
list2 = tuple(x for x in range(12))
print(list2)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

In [181]:
list3 = {x for x in range(12)}
print(list3)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [182]:
list4 = [x for x in range(10) if x < 9]
print(list4)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [183]:
# upper() case:
lentils = ["chana", "moong", "horse gram", "green peas", "chia", "fenugreek"]

lentils1 = [x.upper() for x in lentils]

print(lentils1)

['CHANA', 'MOONG', 'HORSE GRAM', 'GREEN PEAS', 'CHIA', 'FENUGREEK']

In [184]:
# setting all values to "Peanuts":

lentils = ["chana", "moong", "horse gram", "green peas", "chia", "fenugreek"]

lentils1 = ["Peanuts" for x in lentils]

print(lentils1)

['Peanuts', 'Peanuts', 'Peanuts', 'Peanuts', 'Peanuts', 'Peanuts']

In [185]:
# Return "TVS" insted of "honda":

bikes = ["hero", "jawa", "royal", "hero", "honda"]

new_bikes = [x if x != "honda" else "TVS" for x in bikes]

print(new_bikes)

['hero', 'jawa', 'royal', 'hero', 'TVS']

## PYTHON SORT LISTS:

In [186]:
#Ascending:
num1 = [6,23,8,5,2,3,5]

num1.sort()
print(num1)

[2, 3, 5, 5, 6, 8, 23]

In [187]:
# Descending:
num2 = [12,54,36,89,98,32,12,51]

num2.sort(reverse = True) # reverse=True → big → small
print(num2)

[98, 89, 54, 51, 36, 32, 12, 12]

In [188]:
#sort string list:
bikes = ["hero", "jawa", "royal", "honda"]
bikes.sort()
print(bikes)

['hero', 'honda', 'jawa', 'royal']

In [189]:
#sort with mixed case letters:

names = ["Giri", "apple", "Banana", "cat"]
names.sort()
print(names)

['Banana', 'Giri', 'apple', 'cat']

In [190]:
# Case-insensitive sort:
names = ["Giri", "apple", "Banana", "cat"]
names.sort(key=str.lower) # str.lower → ignore case
print(names)

['apple', 'Banana', 'cat', 'Giri']

In [191]:
# Sort without changing original list:
nums = [3, 1, 4, 2]

new_nums = sorted(nums)

print(nums)
print(new_nums)

# sort() → changes original

# sorted() → creates new list

[3, 1, 4, 2]
[1, 2, 3, 4]

In [192]:
# Sort list of strings by length:
words = ["python", "hi", "developer", "go"]
words.sort(key=len)
print(words)

['hi', 'go', 'python', 'developer']

## PYTHON COPY LISTS:

In [193]:
# USE copy() method()
c = ["I", "am", "a", "developer"]

d = c.copy()
print(d)

['I', 'am', 'a', 'developer']

In [194]:
# By using list() method:
c = ["I", "am", "a", "developer"]

d = list(c)
print(d)

['I', 'am', 'a', 'developer']

In [195]:
# By slice operator:
a = [10, 100, 1000, 50, 500, 5000]
b = a[:]

print(b)

[10, 100, 1000, 50, 500, 5000]

In [196]:
a = [10, 20, 30]
b = a.copy()

b.append(40)

print(a)
print(b)

[10, 20, 30]
[10, 20, 30, 40]

In [197]:
a = ["hero", "honda", "tvs"]
b = a[:]

b.remove("honda")

print(a)
print(b)

['hero', 'honda', 'tvs']
['hero', 'tvs']

In [198]:
a = [1, 2, 3, 4]
b = list(a)

b[0] = 100

print(a)
print(b)

[1, 2, 3, 4]
[100, 2, 3, 4]

In [199]:
# copy inside a list comprehension:
a = [2, 4, 6]
b = [x for x in a]

b.append(8)

print(a)
print(b)

[2, 4, 6]
[2, 4, 6, 8]

## PYTHON JOIN LISTS:

In [200]:
# By using + operator:
m1 = [2,4,6,8]
m2 = ["a", "c", "e", "g"]

m3 = m1 + m2
print(m3)

[2, 4, 6, 8, 'a', 'c', 'e', 'g']

In [201]:
# By append method:
m1 = [2,4,6,8]
m2 = ["a", "c", "e", "g"]

for x in m2:
    m1.append(x)

print(m1)

[2, 4, 6, 8, 'a', 'c', 'e', 'g']

In [202]:
# By extend() method:
m1 = [2,4,6,8]
m2 = ["a", "c", "e", "g"]

m1.extend(m2)
print(m1)

[2, 4, 6, 8, 'a', 'c', 'e', 'g']

In [203]:
team_a = ["Ravi", "Anita"]
team_b = ["Kiran", "Megha"]

full_team = team_a + team_b
print(full_team)

['Ravi', 'Anita', 'Kiran', 'Megha']

In [204]:
morning_tasks = ["yoga", "coding"]
evening_tasks = ["gym", "reading"]

morning_tasks.extend(evening_tasks)
print(morning_tasks)

['yoga', 'coding', 'gym', 'reading']

In [205]:
course_modules = ["Python", "SQL"]
extra_modules = ["Power BI", "Tableau"]

course_modules.append(extra_modules)
print(course_modules)

['Python', 'SQL', ['Power BI', 'Tableau']]